<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <description>ServletContextListener</description>
        <listener-class>com.velouracinema.listener.BookingCleanupTaskListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>StaffDao</servlet-name>
        <servlet-class>com.velouracinema.dao.StaffDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingServlet</servlet-name>
        <servlet-class>com.velouracinema.controller.booking.BookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>testServlets</servlet-name>
        <servlet-class>testServlets</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentServlet</servlet-name>
        <servlet-class>com.velouracinema.controller.payment.PaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MovieServlet</servlet-name>
        <servlet-class>com.velouracinema.controller.movie.MovieServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditBookingServlet</servlet-name>
        <servlet-class>com.velouracinema.controller.booking.EditBookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentProcess</servlet-name>
        <servlet-class>com.velouracinema.controller.payment.PaymentProcessServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StaffDao</servlet-name>
        <url-pattern>/StaffDao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingServlet</servlet-name>
        <url-pattern>/booking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>testServlets</servlet-name>
        <url-pattern>/testServlets</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentServlet</servlet-name>
        <url-pattern>/payment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MovieServlet</servlet-name>
        <url-pattern>/movies</url-pattern>
    </servlet-mapping>
    <error-page>
        <error-code>409</error-code>
        <location>/views/error/409.jsp</location>
    </error-page>
    <!--    <error-page>
        <location>/views/error/error.jsp</location>
    </error-page>-->
    <servlet-mapping>
        <servlet-name>EditBookingServlet</servlet-name>
        <url-pattern>/editBooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentProcess</servlet-name>
        <url-pattern>/paymentProcess</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
